h1{
    text-align: center;
    color: white;
    background-color: gray;
    margin: 0px;
}

img{
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    color: red;
    background-color: yellow;
}

.contenedor_central {
    background-color: darkgrey;
    display: flex;
    align-items: center;
}

.columna-33 {
    display: inline;
    width: 33%;
    margin: 20px;
}

.columna-66 {
    display: inline;
    width: 66%;
    padding: 0px;
    margin: 10px;
}

.contenedor_central p{
    margin: 0px;
    text-align: justify;
}

footer{
    display: flex;
    background-color: gray;
    justify-content: space-between;
}

footer div{
    width: 33%;
}

#footerDerecha{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}

#footerDerecha img{
    width: 25px;
    padding: 2px;
}